
Pre-processing/.DS_Store
.DS_Store
Test_data/Control/actin/0001_20Feb20_siNT.tif
Test_data/Control/actin/0002_20Feb20_siNT.tif
Test_data/Control/actin/0003_20Feb20_siNT.tif
Test_data/Control/actin/0004_20Feb20_siNT.tif
Test_data/Control/actin/0005_20Feb20_siNT.tif
Test_data/Control/nucleus/0001_20Feb20_siNT.tif
Test_data/Control/nucleus/0002_20Feb20_siNT.tif
Test_data/Control/nucleus/0003_20Feb20_siNT.tif
Test_data/Control/nucleus/0004_20Feb20_siNT.tif
Test_data/Control/nucleus/0005_20Feb20_siNT.tif
Test_data/siINF2/actin/0001_20Feb20_siINF2.tif
Test_data/siINF2/actin/0002_20Feb20_siINF2.tif
Test_data/siINF2/actin/0003_20Feb20_siINF2.tif
Test_data/siINF2/actin/0004_20Feb20_siINF2.tif
Test_data/siINF2/actin/0005_20Feb20_siINF2.tif
Test_data/siINF2/nucleus/0001_20Feb20_siINF2.tif
Test_data/siINF2/nucleus/0002_20Feb20_siINF2.tif
Test_data/siINF2/nucleus/0003_20Feb20_siINF2.tif
Test_data/siINF2/nucleus/0004_20Feb20_siINF2.tif
Test_data/siINF2/nucleus/0005_20Feb20_siINF2.tif
.DS_Store
.DS_Store
.DS_Store
