albumentations==0.5.1
bleach==3.1.0
google-pasta==0.2.0
h5py==2.10.0
imageio==2.9.0
imgaug==0.4.0
importlib-metadata==3.1.0
inflect==4.0.0
keras==2.2.5
matplotlib==3.1.2
numba==0.48.0
numexpr==2.7.1
olefile==0.46
packaging==19.2
pandas
ruamel-yaml==0.15.80
ruamel.yaml.clib==0.2.0
scikit-image==0.17.2
scikit-learn==0.22.1
statsmodels==0.11.0
sympy==1.5.1
tqdm==4.53.0
xlrd==1.2.0
jupyterlab==1.2.5
cudnn==7.6.0
